### Creating clients for IAM and Redshift

In [66]:
#creating role
import boto3
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

iam = boto3.client('iam',aws_access_key_id=config.get("AWS","KEY"),
                     aws_secret_access_key=config.get("AWS","SECRET"),
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=config.get("AWS","KEY"),
                       aws_secret_access_key=config.get("AWS","SECRET")
                       )

### Creating IAM role and assigning it S3 read only access

In [59]:
#CREATING THE ROLE FOR ACCESS
from botocore.exceptions import ClientError


#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=config.get("IAM_ROLE", "DWH_IAM_ROLE_NAME"),
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=config.get("IAM_ROLE", "DWH_IAM_ROLE_NAME"),
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=config.get("IAM_ROLE", "DWH_IAM_ROLE_NAME"))['Role']['Arn']
 
#copy arn in dwh.cfg
print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::676542724880:role/dwhRole

### Creating Redshift Cluster

In [60]:
#CREATING THE CLUSTER
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType= config.get("CLUSTER", "CLUSTER_TYPE"),
        NodeType= config.get("CLUSTER", "NODE_TYPE"),
        NumberOfNodes= int(config.get("CLUSTER", "NUM_NODES",

        #Identifiers & Credentials
        DBName=config.get("CLUSTER", "DB_NAME" ),
        ClusterIdentifier= "dwhCluster",
        MasterUsername= config.get("CLUSTER", "DB_USER" ),
        MasterUserPassword= config.get("CLUSTER", "DB_PASSWORD"),
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [63]:
# copy host in dwh.cfg
redshift.describe_clusters()['Clusters'][0]['Endpoint']['Address']

'dwhcluster.codvd8mmdzns.us-west-2.redshift.amazonaws.com'

### Run Create_tables.py

In [64]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
import json
! python create_tables.py

### Run etl.py

In [65]:
! python etl.py

# Perform Analytics on the newly created tables

In [70]:
# Connecting to the database
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(config.get("CLUSTER", "DB_USER"), config.get("CLUSTER", "DB_PASSWORD"), \
                                                 config.get("CLUSTER", "HOST"), config.get("CLUSTER", "DB_PORT"),config.get("CLUSTER", "DB_NAME"))
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.codvd8mmdzns.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [73]:
#Looking at most active users Top 10
# Most active users
%time
query = """
with user_summ as 
(SELECT user_id, count(session_id) FROM songplay group by user_id order by 2 desc limit 10) 
select * from user_summ join users on user_summ.user_id = users.user_id order by 2 desc;"""
%sql $query

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 8.11 µs
 * postgresql://dwhuser:***@dwhcluster.codvd8mmdzns.us-west-2.redshift.amazonaws.com:5439/dwh
14 rows affected.

[(49, 772, 49, 'Chloe', 'Cuevas', 'F', 'paid'),
 (49, 772, 49, 'Chloe', 'Cuevas', 'F', 'free'),
 (80, 740, 80, 'Tegan', 'Levine', 'F', 'free'),
 (80, 740, 80, 'Tegan', 'Levine', 'F', 'paid'),
 (97, 595, 97, 'Kate', 'Harrell', 'F', 'paid'),
 (15, 495, 15, 'Lily', 'Koch', 'F', 'free'),
 (15, 495, 15, 'Lily', 'Koch', 'F', 'paid'),
 (44, 439, 44, 'Aleena', 'Kirby', 'F', 'paid'),
 (29, 381, 29, 'Jacqueline', 'Lynch', 'F', 'free'),
 (29, 381, 29, 'Jacqueline', 'Lynch', 'F', 'paid'),
 (24, 349, 24, 'Layla', 'Griffin', 'F', 'paid'),
 (88, 312, 88, 'Mohammad', 'Rodriguez', 'M', 'free'),
 (88, 312, 88, 'Mohammad', 'Rodriguez', 'M', 'paid'),
 (73, 305, 73, 'Jacob', 'Klein', 'M', 'paid')]

In [75]:
#Looking at top 10 songs
%time
query = """
SELECT song_id, count(session_id) FROM songplay group by song_id order by 2 desc limit 10"""

%sql $query

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.63 µs
 * postgresql://dwhuser:***@dwhcluster.codvd8mmdzns.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(None, 7723),
 ('SOBONKR12A58A7A7E0', 37),
 ('SOUNZHU12A8AE47481', 9),
 ('SOHTKMO12AB01843B0', 9),
 ('SOULTKQ12AB018A183', 8),
 ('SOLZOBD12AB0185720', 6),
 ('SOARUPP12AB01842E0', 5),
 ('SOTNHIP12AB0183131', 5),
 ('SOIZLKI12A6D4F7B61', 4),
 ('SONQEYS12AF72AABC9', 4)]

In [82]:
# Since table time is present in each node (dist all) any joins using time should be quicker
%time
query = """
SELECT time.week,time.weekday,count(songplay.session_id) from songplay
left join time on songplay.start_time = time.start_time
group by time.week,time.weekday
order by 3 desc limit 10;
"""
%sql $query

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 7.87 µs
 * postgresql://dwhuser:***@dwhcluster.codvd8mmdzns.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(46, 4, 533),
 (47, 3, 517),
 (46, 3, 457),
 (48, 3, 433),
 (45, 1, 408),
 (46, 2, 394),
 (48, 5, 388),
 (46, 5, 382),
 (47, 2, 379),
 (48, 4, 366)]

In [84]:
# Deleting cluster
redshift.delete_cluster( ClusterIdentifier="dwhcluster",  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.codvd8mmdzns.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2021, 5, 13, 0, 57, 3, 129000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-3632990c',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-a8efcfd0',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'mon:13:30-mon:14:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::676542724880:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '19ea988c-11ef-49eb-a8fa-0eb6c0de2de7',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '19ea988c-11ef-49eb-a8fa-0eb6c0de2de7',
   'content-type': 'text/xml',
   'content-length': '2622',
   'vary': 'accept-encoding',
   'date': 'Thu, 13 May 2021 01:28:04 GMT'},
  'RetryAttempts': 0}}

In [85]:
#deleting IAM Role
iam.detach_role_policy(RoleName=config.get("IAM_ROLE", "DWH_IAM_ROLE_NAME"), PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=config.get("IAM_ROLE", "DWH_IAM_ROLE_NAME"))

{'ResponseMetadata': {'RequestId': '7f6b6105-7493-42c3-ace6-c795c2d68138',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '7f6b6105-7493-42c3-ace6-c795c2d68138',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Thu, 13 May 2021 01:29:06 GMT'},
  'RetryAttempts': 0}}